# Ignore Visual Studio temporary files, build results, and
# user-specific files

*.csproj.user
*.user
*.suo
*.cache
*.pdb
*.obj
*.exe
*.dll
/Adventure_Game/.vs
.vscode/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.vsidx

# Ignore build outputs
bin/
obj/

# Ignore .env files
.env
